<div class="container">
    <div class="row">
        <h2> User Details </h2>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-block btn-warning" (click)="back()">Back</button>
        </div>
    </div>
    <div class="row mt-2" *ngIf="!!user">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">User ID</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.userId}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">User Name</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.userName}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.email}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Phone</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.phone}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Gender</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">{{user.gender}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Birth Date</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0"> {{user.birthDate | date: 'dd/MM/yyyy' }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>